BODY {
	SCROLLBAR-FACE-COLOR: #cccccc; FONT-SIZE: 13px; OVERFLOW-X: hidden; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #bbbbbb; SCROLLBAR-SHADOW-COLOR: #eeeeee; COLOR: #343e45; SCROLLBAR-3DLIGHT-COLOR: #eeeeee; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #f0f0f0; FONT-FAMILY: Unikurd web, tahoma; unicode-bidi: embed; SCROLLBAR-DARKSHADOW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #ffffff
}
DIV {
	SCROLLBAR-FACE-COLOR: #cccccc; FONT-SIZE: 13px; OVERFLOW-X: hidden; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #bbbbbb; SCROLLBAR-SHADOW-COLOR: #eeeeee; COLOR: #343e45; SCROLLBAR-3DLIGHT-COLOR: #eeeeee; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #f0f0f0; FONT-FAMILY: Unikurd web, tahoma; unicode-bidi: embed; SCROLLBAR-DARKSHADOW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #ffffff
}
TD {
	SCROLLBAR-FACE-COLOR: #cccccc; FONT-SIZE: 13px; OVERFLOW-X: hidden; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #bbbbbb; SCROLLBAR-SHADOW-COLOR: #eeeeee; COLOR: #343e45; SCROLLBAR-3DLIGHT-COLOR: #eeeeee; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #f0f0f0; FONT-FAMILY: Unikurd web, tahoma; unicode-bidi: embed; SCROLLBAR-DARKSHADOW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #ffffff
}
TR {
	SCROLLBAR-FACE-COLOR: #cccccc; FONT-SIZE: 13px; OVERFLOW-X: hidden; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #bbbbbb; SCROLLBAR-SHADOW-COLOR: #eeeeee; COLOR: #343e45; SCROLLBAR-3DLIGHT-COLOR: #eeeeee; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #f0f0f0; FONT-FAMILY: Unikurd web, tahoma; unicode-bidi: embed; SCROLLBAR-DARKSHADOW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #ffffff
}
SPAN {
	SCROLLBAR-FACE-COLOR: #cccccc; FONT-SIZE: 13px; OVERFLOW-X: hidden; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #bbbbbb; SCROLLBAR-SHADOW-COLOR: #eeeeee; COLOR: #343e45; SCROLLBAR-3DLIGHT-COLOR: #eeeeee; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #f0f0f0; FONT-FAMILY: Unikurd web, tahoma; unicode-bidi: embed; SCROLLBAR-DARKSHADOW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #ffffff
}
.searchword {
	COLOR: #65be1d
}
.date {
	FONT-SIZE: 9px; COLOR: #555555; FONT-FAMILY: tahoma
}
.latintxt {
	FONT-SIZE: 10px; FONT-FAMILY: tahoma, arial
}
.author {
	FONT-SIZE: 10px; COLOR: #587993; FONT-FAMILY: tahoma, tahoma
}
.counter {
	FONT-SIZE: 11px; COLOR: #555555; FONT-FAMILY: tahoma
}
.bookmark {
	FONT-SIZE: 13px; COLOR: #687b8b; FONT-FAMILY: unikurd web, tahoma, arial
}
.leftcoloumn {
	FONT-SIZE: 9px; FONT-FAMILY: tahoma
}
.newstitle {
	FONT-SIZE: 16px; COLOR: #455f6d; FONT-FAMILY: unikurd web, tahoma
}
DIV.diddy A:active {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; COLOR: #30424d; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-DECORATION: none
}
DIV.diddy A:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; COLOR: #30424d; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-DECORATION: none
}
DIV.diddy A:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; COLOR: #30424d; BORDER-BOTTOM: #dddddd 1px solid; TEXT-DECORATION: none
}
DIV.diddy A:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; COLOR: #30424d; BORDER-BOTTOM: #aaaaaa 0px solid
}
DIV.yourclass A:link {
	COLOR: #3a445c
}
DIV.yourclass A:visited {
	COLOR: #3a445c
}
DIV.yourclass A:hover {
	COLOR: #587993
}
TR.yourclass A:link {
	COLOR: #3a445c
}
TR.yourclass A:visited {
	COLOR: #3a445c
}
TR.yourclass A:hover {
	COLOR: #587993
}
A {
	COLOR: #5d6e7b; TEXT-DECORATION: none
}
A:hover {
	COLOR: #030f1b; TEXT-DECORATION: none
}
.boshayi {
	FILTER: alpha(opacity=50); WIDTH: 143px; HEIGHT: 100%; moz-opacity: .5
}
.put {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #222222 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #222222 1px solid; WIDTH: 120px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: unikurd web, tahoma; HEIGHT: 23px; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: right; text-direction: rtl
}
.emrro {
	BORDER-RIGHT: #aaaaaa 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #aaaaaa 0px solid; PADDING-LEFT: 4px; FONT-SIZE: 13px; FLOAT: left; BACKGROUND-IMAGE: url(images/embg.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: #aaaaaa 0px solid; WIDTH: 120px; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #aaaaaa 0px solid; FONT-FAMILY: unikurd web, tahoma, arial; TEXT-ALIGN: right; text-direction: rtl
}
.button {
	FONT-SIZE: 13px; background-color:#df112e; BACKGROUND-IMAGE: url(img/buttbg.gif); WIDTH: 120px; COLOR: #ffffff; FONT-FAMILY: unikurd web, tahoma; HEIGHT: 23px
}
.line {
	BACKGROUND-IMAGE: url(images/points.gif); WIDTH: 589px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 1px
}
.line2 {
	BACKGROUND-IMAGE: url(images/points.gif); WIDTH: 540px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 1px
}
.btnav {
	BACKGROUND-COLOR: #cccccc
}
.buttonsearch {
	FONT-SIZE: 13px; BACKGROUND-IMAGE: url(img/buttbg.gif); WIDTH: 110px; COLOR: #c3ced9; FONT-FAMILY: unikurd web, tahoma; HEIGHT: 24px
}
.putsearch {
	FONT-SIZE: 13px; WIDTH: 110px; FONT-FAMILY: unikurd web, tahoma; HEIGHT: 21px; BACKGROUND-COLOR: #b6b6b6; TEXT-ALIGN: right; text-direction: rtl
}
INPUT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #222222 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #222222 1px solid; WIDTH: 200px; COLOR: black; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: unikurd web,  tahoma; BACKGROUND-COLOR: #bbbbbb; text-direction: ltr
}
OPTION {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #222222 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #222222 1px solid; WIDTH: 200px; COLOR: black; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: unikurd web,  tahoma; BACKGROUND-COLOR: #bbbbbb; text-direction: ltr
}
SELECT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #222222 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #222222 1px solid; WIDTH: 200px; COLOR: black; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: unikurd web,  tahoma; BACKGROUND-COLOR: #bbbbbb; text-direction: ltr
}
TEXTAREA {
	border: 1px solid #1b6666;
    FONT-SIZE: 13px; MARGIN: 0px 0px 0px 14px; 
    SCROLLBAR-TRACK-COLOR: #eeeeee; FONT-FAMILY: unikurd web,  tahoma; BACKGROUND-COLOR: #bad6da; text-direction: ltr
}
.checkbox {
	WIDTH: 18px; HEIGHT: 18px
}
.popupbody {
	BORDER-RIGHT: #222222 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 4px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 300px; BORDER-BOTTOM: #222222 1px solid; BACKGROUND-COLOR: #e6e6e6
}
.color {
	COLOR: #6a7d8b
}
.binere {
	WIDTH: 80px; COLOR: red
}
.right {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; MARGIN-TOP: 0px; MARGIN-LEFT: 0px; BORDER-LEFT: #999999 1px solid; DIRECTION: rtl; MARGIN-RIGHT: 0px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: justify
}
.iframe {
	BACKGROUND-COLOR: #cccccc
}
.text {
	FONT-SIZE: 13px; COLOR: #e7f5ff; FONT-FAMILY: unikurd web,  tahoma; text-direction: rtl
}
HR {
	COLOR: #999999
}
.bar {
	FONT-SIZE: 9px; COLOR: #c4c4c4; FONT-FAMILY: arial
}
TD.nav A {
	COLOR: #c4c4c4; HEIGHT: 20px
}
TD.nav A:hover {
	COLOR: #7e95a6; HEIGHT: 20px
}
.colorbar {
	COLOR: #dee0e8
}
